@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Moirai+One&display=swap');
.App {
  text-align: center;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.logo{
  font-family: 'Moirai One', cursive;
  font-size: 7vh;
  color: rgb(158, 5, 158);
}
/* .subject{
  font-family: ;
} */
.links{
  color: rgb(158, 5, 158);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title {
  /* text-align: center;
  font-size: x-small;
  color: green */
}
@media (prefers-reduced-motion: no-preference) {
* {
  scroll-behavior: smooth;
}
}